table.timesub {
    width: 100%;
}

tr.one {
    background-color: #efefef;
}

div.printtime {
    font-size: 80%;
    color: green;
}

td.header {
    width: 9em;
}

td.bittebeachten {
    background-color: #FFFAA8;
}

div.timesubmenu {
    width: 100%;
    margin: 5px 0 1em 0;
}

div.timesubmenu a {
    padding: 5px;
    border: 1px solid #eee;
    margin: 5px;
    text-decoration: none;
}
div.timesubmenu a.tstoday {
    font-weight: bold;
    background-color: #efefef;
}

