table.timesub {
    width: 100%;
}

tr.one {
    background-color: #efefef;
}

div.printtime {
    font-size: 90%;
    color: green;
    float: right;
}

span.version {
    font-weight: bold;
}

td.header {
    width: 9em;
}

td.bittebeachten {
    background-color: #FFFAA8;
}

div.timesubmenu {
    width: 100%;
    margin: 5px 0 1em 0;
}

div.timesubmenu a {
    padding: 5px;
    border: 1px solid #eee;
    margin: 5px;
    text-decoration: none;
}
div.timesubmenu a.tstoday {
    font-weight: bold;
    background-color: #efefef;
}

span.green {
    background: transparent url("img/green.gif") left 50% no-repeat;
    padding-left: 12px;
}
span.red {
    background: transparent url("img/red.gif") left 50% no-repeat;
    padding-left: 12px;
}
span.orange {
    background: transparent url("img/orange.gif") left 50% no-repeat;
    padding-left: 12px;
}
span.blue {
    background: transparent url("img/blue.gif") left 50% no-repeat;
    padding-left: 12px;
}
span.aktuell {
    background: transparent url("img/aktuell.gif") left 50% no-repeat;
    width: 62px;
    height: 14px;
    display: block;
    float: right;
}
